{{block "index" .}}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Scripts -->
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>

    <!-- Fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

    <!-- Styles -->
    <link rel="stylesheet" href="/static/styles/normalize.css">
    <link rel="stylesheet" href="/static/styles/skeleton.css">
    <link rel="stylesheet" href="/static/styles/custom.css">

    <title>Green Library</title>
</head>

<body>
    <br>
    <div class="container">
        <div class="row">
            <div class="twelve columns">
                <img src="/static/images/logo-no-background.svg" class="title-image centered-image">
            </div>
        </div>
        <div class="row">
            <div class="twelve columns">
                <form hx-get="/book" class="horizontal-form" hx-target="#book-list" hx-swap="outerHTML">
                    <input name="title" type="text" class="u-full-width" id="search-bar" placeholder="Buscar...">
                    <button type="submit" class="button-primary">Buscar</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="three columns" style="margin-bottom: 3rem;">
                <div class="section-div collections">
                    <div>
                        <h4>Colecciones</h4>
                    </div>
                    {{template "collections" .}}
                </div>
                {{if .AllowCreation}}
                <div class="section-div" style="margin-top: 1rem;">
                    <h4>Nueva colección</h4>
                    <form hx-post="/collection" hx-target="#collection-list" hx-swap="afterbegin"
                        hx-on::after-request="this.reset()">
                        <label for="new-collection-name">Nombre</label>
                        <input name="name" id="new-collection-name" type="text" class="u-max-full-width">
                        <button type="submit">Guardar</button>
                    </form>
                </div>
                {{end}}
            </div>
            <div class="nine columns section-div">
                <div>
                    <h4>Libros</h4>
                </div>
                {{ template "books" .}}
            </div>
        </div>
    </div>
</body>

</html>
{{end}}

