.title-image {
    
    width: 30vw;
    margin-bottom: 3rem;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.horizontal-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.collection-div:hover{
    cursor: pointer;
}

.section-div{
    border-style: solid;
    border-width: 1.5px;
    border-color: #888;
    border-radius: 10px;
    padding: 1rem;
}

.collections {
    max-height: 200px;
    overflow: auto;
    overflow-x: hidden;
    position: relative;
    padding-top: 0;
}

@media (min-width: 550px) {
    .collections {
        max-height: none;
    }

}

.collections > div:first-child {
    top: 0;
    position: sticky;
    z-index: 1;
    width: 100%;
    background-color: white;
    opacity: 100%;
    padding-top: .8rem;
    padding-bottom: 5px;
}

.collection-div{
    border-color: #888;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 1rem;
}

.collection-div span:first-child {
    font-size: large;
    font-weight: bold;
}

